<!-- das Basis-Template wird erweitert -->
{% extends "adressverwaltung/basis.html" %}
<!-- der Block für den Inhalt -->
{% block inhalt %}
<table>
    <thead>
      	<tr>
          	<th>ID</th>
        	<th>Vorname</th>
        	<th>Nachname</th>
            <th>Straße</th>
            <th>PLZ</th>
            <th>Ort</th>
            <th>Telefon</th>
            <th><a href="{% url 'neu'%}">Neuer Eintrag</a></th>
        </tr>
    </thead>
    <tbody>
    {% for eintrag in adressen %}
        <tr>
            <td>{{ eintrag.id }}</td>
            <td>{{ eintrag.vorname }}</td>
            <td>{{ eintrag.nachname }}</td>
            <td>{{ eintrag.strasse }}</td>
            <td>{{ eintrag.plz }}</td>
            <td>{{ eintrag.ort }}</td>
            <td>{{ eintrag.telefon }}</td>
            <td><a href="{% url 'bearbeiten' eintrag.id %}">Eintrag bearbeiten</a>
                <a href="{% url 'loeschen' eintrag.id %}">Eintrag loeschen</a>
                </td>
        </tr>
    {% endfor %}
    </tbody>
</table>    
{% endblock %}    
